.header{
	background-color: white;
}

.header h1 span {
	color:#5da213;
}
.header h1 a{
	text-decoration: none !important;
}

nav ul li{
	float:left;
	list-style:none;
	padding:28px 15px;

}

nav ul li a{
	color:black;
	}

nav ul li:hover a{
	color:gray;
	text-decoration: none !important;
}
.slideshow{
	background-color:#5da213;
}
.text{
	color:#fff;
	padding: 25px 0;
}

.option{
	background-color:#fff; 
	padding: 30px 0 30px 30px;
	border-radius: 5px;
}
.services{
	background:#e2e2e2;
	color:#5b5b5b;
	padding:80px 0px;
}

.service button a{
	text-decoration: none;
}
.catagories
{
	border-radius: 5px;
	padding: 10px;
}





.dropdown ul {
	font-size: 20px;
	color:gray;
	float: left;
	border-radius:6px;
	overflow:hidden;
}
.dropdown ul li{
    list-style: none;
    padding: 5px;
    border-radius:6px;
    overflow:hidden;
}
.dropdown ul li:hover{
	float: right;
	list-style: none;
	display: block;
	background-color:#191919;
	overflow:hidden;
}
ul.sub{
 background-color:#496790;
 list-style: none;
 width: 150px;
 opacity:0;
 border-radius:6px;
 overflow:hidden;
}
ul.sub li{
 font-size: 22px;
 overflow:hidden;

}
.dropdown li:hover ul.sub{
 opacity:1;
 overflow:hidden;
}



.help{
	background:#212121;
	color:#fff;
	margin-top:100px;
	padding: 20px;
}


.help ul li a{
	text-decoration:none;
	list-style:none;
	color:#fff;
}

.help ul li{
	list-style:none;
}

.help ul li:hover a{
	color:#5da213;
	text-decoration: none !important;
}

.title-border{
	border:1px solid #5b5b5b;
	width:650px;
}
.button_margin{
	margin: 10px;
	width: 200px;
}



.footer{
	padding: 10px;
	color: gray;
	background-color: #191919;
}
.footer a{
	color:#5da213;
	text-decoration: none;
}



#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
	position:absolute;
	right:5px;
	top:-4px;
	cursor:pointer;
	color:red;
	font-weight: bold;
	font-size: 20px;
}
div#popupContact {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
}
#abc form {
	max-width:800px;
	min-width:500px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff
}

#abc input[type=text] {
	width:82%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}

#email {
	width: 100%;
background-position:5px 7px;
}
#abc textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
margin-bottom:30px
}
.submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#000080;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
